<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prototype Instructions</title>

    <!-- Included Files and Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script> <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script> <!-- AngularJS Routes CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-sanitize.js"></script> <!-- AngularJS Sanitize CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap JS CDN -->
    <script src="assets/js/main.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body data-ng-app="protoInstructions">
<div class="container" data-ng-controller="mainController">
    <div class="jumbotron">
        <div class="container" id="page-header">
            <h1>Prototype Instructions</h1>
            <p>Select a prototype on the left to view its instructions</p>
            <img src="assets/images/logos/LF_LOGO.png" alt="LearningFuze Logo">
        </div>
    </div>

    <div class="col-xs-2 panel-group" id="accordion" data-ng-controller="navController as nc">
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'angular'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#angular" data-parent="#accordion" data-ng-click="nc.active='angular'">AngularJS</a>
                </h3>
            </div>
            <div id="angular" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#test">Angular 1</a></li>
                        <li role="presentation"><a href="#">Angular 2</a></li>
                        <li role="presentation"><a href="#">Angular 3</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'bootstrap'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#bootstrap" data-parent="#accordion" data-ng-click="nc.active='bootstrap'">Bootstrap</a>
                </h3>
            </div>
            <div id="bootstrap" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">Bootstrap 1</a></li>
                        <li role="presentation"><a href="#">Bootstrap 2</a></li>
                        <li role="presentation"><a href="#">Bootstrap 3</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'css'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#css" data-parent="#accordion" data-ng-click="nc.active='css'">CSS</a>
                </h3>
            </div>
            <div id="css" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">CSS 1</a></li>
                        <li role="presentation"><a href="#">CSS 2</a></li>
                        <li role="presentation"><a href="#">CSS 3</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'html'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#html" data-parent="#accordion" data-ng-click="nc.active='html'">HTML</a>
                </h3>
            </div>
            <div id="html" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#html-fundamentals-1">Html-Fundamentals 1</a></li>
                        <li role="presentation"><a href="#html-fundamentals-2">Html Fundamentals 2</a></li>
                        <li role="presentation"><a href="#">HTML 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'js'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#js" data-parent="#accordion" data-ng-click="nc.active='js'">JavaScript</a>
                </h3>
            </div>
            <div id="js" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">JS 1</a></li>
                        <li role="presentation"><a href="#">JS 2</a></li>
                        <li role="presentation"><a href="#">JS 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == 'php'}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#php" data-parent="#accordion" data-ng-click="nc.active='php'">PHP</a>
                </h3>
            </div>
            <div id="php" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation"><a href="#">PHP 1</a></li>
                        <li role="presentation"><a href="#">PHP 2</a></li>
                        <li role="presentation"><a href="#">PHP 3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- Nav accordion col-xs-2, navController -->
    <div class="col-xs-10">
        <div data-ng-view></div>
    </div> <!-- Main content col-xs-10 instructController -->
</div> <!-- Main container and mainController -->
</body>
</html>