<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prototype Instructions</title>

    <!-- Included Files and Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script> <!-- AngularJS CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script> <!-- AngularJS Routes CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-sanitize.js"></script> <!-- AngularJS Sanitize CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> <!-- Bootstrap JS CDN -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/directives.js"></script>
    <script src="assets/js/appControllers.js"></script>
    <script src="assets/js/protoControllers.js"></script>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>
<body data-ng-app="protoInstructions">
<shortcuts>
<div class="container-fluid" data-ng-controller="mainController as mc">
    <div class="jumbotron col-lg-offset-1 col-lg-10">
        <div class="container" id="page-header">
            <h1>Prototype Instructions</h1>
            <p>Select a prototype on the left to view its instructions</p>
            <img src="assets/images/logos/LF_LOGO.png" alt="LearningFuze Logo">
        </div>
    </div>

    <div class="col-xs-12 col-md-3 col-lg-2 col-lg-offset-1 panel-group" id="accordion" data-ng-controller="navController as nc">
        <div class="panel panel-info" data-ng-repeat="name in nc.objKeys(sideNav)" data-ng-init="list = sideNav[name]">
            <div class="panel-heading" data-ng-class="{'nav-active': nc.active == name}">
                <h3 class="panel-title">
                    <a data-toggle="collapse" href="#{{ name }}" data-parent="#accordion" data-ng-click="nc.active=name; mc.subActive = ''">{{ name }}</a>
                </h3>
            </div>
            <div id="{{ name }}" class="panel-collapse collapse">
                <div class="panel-body">
                    <ul class="nav nav-pills nav-stacked">
                        <li role="presentation" data-ng-repeat="proto in list"><a href="#{{ proto }}">{{ proto }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- Nav accordion col-xs-2, navController -->
    <div class="col-xs-12 col-md-9 col-lg-8">
        <div data-ng-view></div>
    </div> <!-- Main content col-xs-10 instructController -->
</div> <!-- Main container and mainController -->
</shortcuts>
</body>
</html>