header ul li{
    list-style: none;
    display: inline-block;
}

header ul li:hover{
    background-color: grey;
    color: white;
}

.collapsible ul{
    background-color: black;
    color: white;
 }

.collapsible ul li:hover{
    background-color: grey;
}

section {
    width: 100vw;
}
/**/
article {
    display: inline-block;
    width: 40%;
    padding: 0px 1vw;
}
article img {
    float: left;
    width: 50%;
    height: auto;
}
article img + p {
    color: green;
}
/**/
aside {
    display: inline-block;
    width: 40%;
    vertical-align: top;
}
aside h3 {
    text-align: center;
    position: relative;
    top: 10%;
}
aside h3 span {
    color: blue;
}
aside p:first-of-type {
    font-weight: bold;
    color: red;
}
aside p:last-of-type {
    color: green;
}

/**/
footer {
    clear:both;
    width: 100vw;
    height: 30vh;
    position: relative;
    background-color: black;
}

footer div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
